{% extends "base.html" %}

{% block title %} Edit language {% endblock %}
{% block content %}
<form action="{% url 'lang_edit' id=id %}" method="post"> {% csrf_token %}
    <fieldset>
        <legend>
            Edit language:
        </legend>
        {% for field in form %}
        <div class="row">
            <div class="large-6 columns">
                {{ field.label_tag }}
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button role="submit" class="button tiny">Save</button>
        <a href="{% url 'resume' %}?tab=lang" class="button secondary tiny">Cancel</a>
    </fieldset>
</form>
{% endblock %}